body {
    margin: 0;
    padding: 0;
    display: flex;
    background-position: center;
    background-size: cover;
    background-image: url(../assets/p___c___banner.jpg);
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}


/* FOLDERS STYLE */

.folder-items {
    width: 80px;
    height: 80px;
    position: absolute;
    cursor: grab;
    user-select: none;
}

.folder-items img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* IMAGES STYLE */

.images-items {
    width: 80px;
    height: 80px;
    position: absolute;
    cursor: grab;
    user-select: none;
}

.images-items img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.expanded-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.expanded-image img {
    max-width: 90%;
    max-height: 90%;
}