@font-face {
    font-family: link-font;
    src: url(./fonts/JMH-Typewriter.ttf);
}

body {
    background-image: url(./assets/Miami.jpg);
    margin: 0;
    padding: 0;
    font-size: 16px; /* Set a base font size */
}

.list {
    font-size: 2.5vw; /* Set font size relative to viewport width */
    padding-left: 2vw; /* Set padding relative to viewport width */
    font-family: link-font;
    /* color: inherit;  */
    color: rgb(255, 255, 255);
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
    .list {
        font-size: 4vw; /* Adjust font size for smaller screens */
        padding-left: 3vw; /* Adjust padding for smaller screens */
    }
}

@media screen and (max-width: 480px) {
    .list {
        font-size: 6vw; /* Further adjust font size for smaller screens */
        padding-left: 4vw; /* Further adjust padding for smaller screens */
    }
}


/* @font-face {
    font-family: link-font;
    src: url(./fonts/JMH-Typewriter.ttf);
}

.list {
    font-size: 40px;
    padding-left: 15px;
    font-family: link-font;
    color: inherit; 
}

a {
    color: black;
    text-decoration: none;
} */
