html,
body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

/* Styling of clock/time */
h1 {
    /* Use vw unit for relative font size and max-width to prevent overflow */
    font-size: 10vw;
    max-width: 80%;
    color: #fdb997;
    margin: 0;
    text-align: center;
    line-height: 1;
    white-space: nowrap;
    /* Prevent line breaks within time string */
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Styling of images */
.bg {
    background-image: url("../assets/clockbg.jpg");
}

.fg {
    background-image: url("../assets/clockbgover.png");
}

.bg,
.fg {
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

/* Optional media queries for further adjustments */
@media (max-width: 480px) {
    h1 {
        font-size: 12vw;
        /* Adjust font size for smaller screens */
    }
}