@font-face {
    font-family: link-font;
    src: url(../fonts/JMH-Typewriter.ttf);
}

body {
    background-color: black;
}

div {
    width: 500px;
    padding: 10px;
    font-size: 1.5vw;
    font-family: link-font;
    color: white;
    text-align: left;
}

/* Media query for smaller screen sizes */
@media screen and (max-width: 350px) {
    div {
        font-size: 3vw;
        width: 300px;
    }
}