body {
    background-color: black;
}

img {
    max-width: 100%;
    height: auto;
}

/* For screens smaller than 600px */
@media (max-width: 600px) {
    img {
        width: 80%;
    }
}

/* For screens larger than 600px */
@media (min-width: 601px) {
    img {
        width: 60%;
    }
}

/* For screens larger than 1024px */
@media (min-width: 1025px) {
    img {
        width: 40%;
    }
}
